#font-face{
  font-family: Helvetica;
  src: url("./Assets/fonts/font/helvetica-compressed_22459-webfont.woff") format("woff");
}

h1 {
  font-family: Helvetica;
  text-transform: uppercase;
}

h2, h3, p, a {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 500vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
}


.bloc1,
.sac {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 130%;
    right: 15px;
    background: transparent;
    border: none;
}

.bloc1 {
  z-index: 1;
}

.bloc2,
.glass {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 210%;
    left: 15px;
    background: transparent;
    border: none;
}

.block {
  opacity: 0;
}


.ray {
    position: fixed;
    width: 150px;
    z-index: 1;
    animation: rayAnimation 5s linear infinite;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* .modalText {
    transform: scale(0.9);
  } */

  .modalText h1{
    margin: 10px 0 0 0;
    font-size: 32px;
  }

  .modalText h2 {
    margin: 20px 0 16px 0;
  }

  .modalText h3 {
    margin-bottom: 0;
  }

  .modalText p {
    line-height: 22px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    height: 90%;
    background-color: #F3F3F3;
    border-radius: 24px;
    margin: 5%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content_Profil {
    height: 260px;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 24px;
    margin: 5%;
    padding: 20px;
    border: 1px solid #888;
  }

  .modalText_Profil img {
    height: 120px !important;
    width: 120px !important;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    left: 35%;
  }

  .modal-content_Profil .name {
    position: absolute;
    display: flex;
    top: 52%;
    width: 48%;
    left: 45%;
  }

  .modal-content_Profil .name h1 {
    text-transform: capitalize;
  }

  .modal-content_Profil .name img {
    height: 24px !important;
    width: 24px !important;
  }

  .modal-content_Profil p {
    position: absolute;
    top: 60%;
    left: 31%;
  }
  
  /* The Close Button */
  .close1, 
  .close2,
  .closeProfil {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 24px;
  }

  .closeProfil {
    margin-right: 0 !important;
  }
  
  .close1:hover,
  .close1:focus,
  .close2:hover,
  .close2:focus,
  .closeProfil:hover,
  .closeProfil:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .closeCheck1,
  .closeCheck2 {
    position: absolute;
    bottom: 10%;
    background-color: #00489b;
    border: none;
    border-radius: 40px;
    height: 40px;
    font-size: 16px;
    width: 148px;
    text-transform: uppercase;
    color: #f3f3f3;
  }





  /* ******************** NAV BAR ******************** */
.topnav {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 0;
    height: 0;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
  
      min-width:75vw;
      height: 100vh;
      padding: 56px 0 0 20px;
  
      text-align: start;
  
      background: #00489B;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }

    .title-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      color: #f3f3f3;
    }

    .title-menu h1 {
      font-size: 32px;
    }

    .title-menu img {
      height: 60px;
      margin-right: 24px;
    }

    .flag {
      position: absolute;
      bottom: 23%;
    }

    .flag img {
      height: 24px;
      margin-right: 32px;
    }

    .socialMedia {
      position: absolute;
      bottom: 15%;
    }

    .socialMedia > p{
      color: #f3f3f3;
      font-weight: 600;
    }

    .socialMedia a img {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
  
    #topnav_responsive_menu li {
      display: flex;
      align-items: center;
      padding: 20px 0;
      font-weight: 600;
    }

    #topnav_responsive_menu li img {
      width: 24px;
      margin-right: 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #F3F3F3;
      text-decoration: none;
    }

    .footerMenu p {
      position: absolute;
      left: 6px;
      bottom: 8%;
      color: white;
      transform: scale(0.9);
      font-size: 15px;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: fixed;
      top: 3px;
      left: 3px;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #000;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #F3F3F3;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }








@keyframes rayAnimation {
    0% {
        top: 100px;
        left: 0%;
        transform: rotate(65deg);
    }

    20% {
        top: 120px;
        left: 15%;
        transform: rotate(65deg);
    }

    40% {
        top: 140px;
        left: 30%;
        transform: rotate(75deg);
    }
    
    60% {
        top: 120px;
        left: 50%;
        transform: rotate(90deg);
    }

    80% {
        top: 100px;
        left: 25%;
        transform: rotate(75deg);
    }

    90% {
        top: 100px;
        left: 13%;
    }

    100% {
        top: 100px;
        left: 0%;
        transform: rotate(65deg);
    }
}



@keyframes anim{
  from {
      transform: translateX(100px);
      opacity: 0;
  }

  to {
      transform: translateX(0);
      opacity: 1;
  }
}




.fadeInLeft {
  transform: translateX(0px);
  opacity: 1;
}

.fadeInRight {
  transform: translateX(0px);
  opacity: 1;
}

.fadeInBtm {
  transform: translateY(0px);
  opacity: 1;
}

.zoomIn {
  transform: scale(1);
  opacity: 1;
}