body {
    height: 500vh;
    margin: 0;
}

.line-container {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%;
}

